<%- include ../partials/header %>

<div class="card center">
    <div class="container">
        <div>
            <h1><% bar.name %>
                <h6><% bar.location %></h6>
            </h1>
        </div>
    </div>
    <div class="container">
        <% if (bar.beers.length) { %>
            <h3>Beer List:</h3>
            <% bar.beers.forEach(beer => { %>
                <div>
                    <form action="/bars/<%= bar.id %>/beers/<%= beer.id %>?_method=DELETE" method="POST">
                        <h4><%= beer.name %></h4>
                        <button class="btn" type="submit">Stop Serving</button>
                    </form>
                </div>
            <% }) %>
        <% } else { %>
            <h3>No Beers</h3>
        <% } %>
    </div>
    <div class="container">
        <a class="btn green btnspace" href="/bars/<%= bar.id %>/beers/new">Add Beer</a>
        <br>
        <form action="/bars/<%= bar.id %>?_method=DELETE" method="POST">
            <button class="btn red btnspace" type="submit">Delete</button>
        </form>
    </div>
</div>

<%- include ../partials/footer %>